# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
orders= pd.read_csv('Orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# group the orders DataFrame by customer and sum their amount_spent:
customer_expense = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()
customer_expense

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [10]:
# quantile function
q75 = customer_expense['amount_spent'].quantile(0.75)
q95 = customer_expense['amount_spent'].quantile(0.95)
print("q95:",q95)
print("q75:",q75)

q95: 5840.181999999982
q75: 1661.64

In [12]:
#labeling customers
customer_expense['CustomerType'] = np.where(customer_expense['amount_spent'] > q95, 'VIP', np.where(customer_expense['amount_spent'] > q75, 'Preferred', 'Regular'))
customer_expense['CustomerType']

0             VIP
1       Preferred
2       Preferred
3       Preferred
4         Regular
          ...
4334      Regular
4335      Regular
4336      Regular
4337    Preferred
4338    Preferred
Name: CustomerType, Length: 4339, dtype: object

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [18]:
merged_orders = pd.merge(orders, customer_expense[['CustomerID', 'CustomerType']], on='CustomerID', how='left')
vip_countries = merged_orders[merged_orders['CustomerType'] == 'VIP'].groupby('Country').size().idxmax()
vip_countries

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [19]:
vip_preferred_countries = merged_orders[merged_orders['CustomerType'].isin(['VIP', 'Preferred'])].groupby('Country').size().idxmax()
vip_preferred_countries

'United Kingdom'